body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: #333; /* 기본 배경색 */
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

#site-title, #subtitle {
    position: relative;
}

#subtitle {
    font-size: 1rem;
    color: lightgray;
    margin-bottom: 20px;
}

#word-input {
    padding: 10px;
    font-size: 1rem;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 1rem;
}

#ranking {
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
