body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    transition: background-image 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#site-title {
    font-size: 3rem;
    margin-top: 50px;
}

#subtitle {
    font-size: 1rem;
    color: lightgray;
    margin-bottom: 20px;
}

#word-input {
    padding: 10px;
    font-size: 1rem;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 1rem;
}

#ranking {
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
